@import "tailwindcss";
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --purple-color: #603dcc;
  --purple-light-color: #8768e6;
  --background-color: rgba(255, 255, 255, 0.95);
  --color: #242424;
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.router-link-active {
  color: white;
  background-image: linear-gradient(
    to left,
    var(--purple-color),
    var(--purple-light-color)
  );
}

.router-link-active:hover {
  opacity: 85%;
}

.button-billing {
  color: white;
  background-image: linear-gradient(
    to left,
    var(--purple-color),
    var(--purple-light-color)
  );
}

* {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
